## Utils
ipykernel
Iprogress
tqdm
python-dotenv
pytest

## Huggingface
transformers
sentence-transformers
datasets

## LlamaIndex
llama-index
# llama-index-embeddings-openai
# llama-index-llms-openai
# llama-index-embeddings-huggingface
# llama-index-llms-huggingface
# llama-index-llms-ollama

## LangChain
langchain
langchain-community
langsmith
langchain-experimental
# langchain-openai

## unstructured

# ## Unstructured Open Local
# unstructured-client
# pdfminer.six
# pillow-heif
# opencv-python
# pdf2image
# unstructured-inference
# pytesseract
# unstructured.pytesseract
# # brew install poppler # Expects to have poppler installed on the machine

## Sytem Evaluation
trulens-eval

# Cloud Services
# openai
# google-cloud-aiplatform
# boto3

## Data Load & PDF Parse
pypdf
pymupdf
pymupdf4llm
beautifulsoup4
requests


## DS & NLP
numpy
scipy
pandas
matplotlib
seaborn
plotly
scikit-learn
spacy
pacmap
# torch # if using/developing PyTorch models
# tensorflow # if using/developing TensorFlow models